body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f8ff;
    color: #333;
}

h2 {
    font-size: 2em;
    color: #6a5acd;
}

input, button {
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

button {
    background-color: #32cd32;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #228b22;
}

#result {
    font-size: 2em;
    margin-top: 20px;
}

.valid {
    color: #008000;
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.invalid {
    color: #ff4500;
    border: #ff4500;
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.emoji {
    font-size: 1.5em;
}